---
layout: page
title: Archives
description: My pretty and ugly nail photo archive.
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Hoverbox Image Gallery</title>
		<link rel="stylesheet" href='css/hoverbox.css' type="text/css" media="screen, projection" />
	</head>
	<body>
		<ul class="hoverbox">
			{% for file in site.static_files %}
				{% if file.image %}
					<li>
						<a href="#"><img src="{{file.path}}" alt="d{{file.name}}" /><img src="{{file.path}}" alt="{{file.name}}" class="preview" /></a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</body>
</html>